body{
	background:grey;
	font-family:arial,helvetica,sans-serif;
	font-size:18px;
	margin:auto;
	line-height: 1.6em;
}

.myhotel{
	background:#fff;
	
	padding-top:3px;
	padding-bottom:3px;
	margin-top:10px;
}

.myhotel h1{
	text-decoration:underline;
	text-align:center;
	text-transform:uppercase;
	font-style:italic;
	color:orange;

}

.navbar ul{
	list-style:square;
	display: flex;
	justify-content: space-around;
}

.navbar li{
	display:inline-block;
}

.navbar a{
	list-style: none;
	text-decoration: none;
	font-size:18px;
	padding:0px,20px;
	color:red;
}


.showcase{
	background-image:url('../images/hotel.jpg');
	min-height:300px;
	margin-bottom:30px;
	text-align:center;
}

.showcase h1{
	color:black;
	padding-top:60px;
	font-size:20px;
}


.showcase h2{
	font-size:40px;
	line-height: 1.1em;

}

.showcase a{
	color:red;
	font-size:30px;
	font-family:"arialblack";
	font-style:italic;
}



.box-1{
	font-family:tahoma;
	border:blue dotted 5px;
	border-radius:10px;
	padding-right:8px;
	padding-left:8px;
	margin:10px;
	color:white;
	background:brown;

}

.box-1 h3{
	font-weight:500;
	font-style:italic;
	text-transform:uppercase;
	text-decoration: underline;
	letter-spacing: 0.2em;

}

.menu h2{
	text-align:center;
	color:orange;

}
/*
#main{
	float:left;
	width:50%;
	box-sizing:border-box;


#main h3{
	text-transform:uppercase;
	text-decoration:underline;
}

#main li{
	list-style:square;
	padding-top:5px;
	list-style: none;
}


#sidebar h3{
	text-transform:uppercase;
	text-decoration:underline;
}

#sidebar li{
	list-style:square;
	padding-top:10px;
}
*/



.menu h3{
	text-align: center;
	font-weight: 600;
	font-size: 35px;
	color:orange;
}

#main{
	float: left;
	width: 46%;
	border: dotted 2px black;
}
#main h4{
	text-align: center;
	text-decoration: underline;
	font-size: 22px;
}

#main ul{
	list-style: none;
	text-decoration: none;
	font-style: italic;
	color:white;
}


#sidebar{
	float: right;
	width: 46%;
	border: dotted 2px black;
}

#sidebar h4{
	text-align: center;
	text-decoration: underline;
	font-size: 22px;
}

#sidebar ul{
	list-style: none;
	font-style: italic;
	color:white;
}



.clr{
	clear: both;
}

.img p{
	text-align: center;
	color:rgb(43, 43, 141);
	font-size: 30px;
	font-style: bold;
	text-decoration: underline;
}

#main-footer{
	background: #333;
	color:white;
	text-align:center;
	padding: 12px;
	

}

.sample.jpg{
	height:300;
	width:400;
}


@media (max-width:768px) {
	.myhotel h1{
		color:blue;
		font-size:25px;
	}

	.navbar a{
		color:red;
		transition-property: color font-size;
		transition: 0.3s ease;
	}
	.navbar a:hover{
		color:rgb(38, 204, 66);
		font-size:20px;
	}

	.showcase h1{
		font-size:22px;
	}
	.showcase h2{
		margin-top:40px;
		font-size: 30px;
	}
	.showcase a{
		color:orange;
		font-style: bold;
		padding-top: 50px;
	}

	
	.main li{
		font-size:20px;
	}

	img{
		width:400px;
	}

	.img p{
		color:white;
		padding-left:100px;
		font-size:25px;
		font-style: italic;
		text-decoration: underline rgb(67, 74, 172);
	}

	
}